/* Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab&family=Source+Sans+Pro&display=swap');

/* General styles */
body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #eee;
}

/* Newspaper container */
.newspaper-container {
    width: 700px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
}

header h1 {
    font-family: 'Abril Fatface', cursive;
}

/* Navigation */
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav a {
    color: #777;
    text-decoration: none;
}

/* Front-Page Article */
.front-page-article img {
    width: 100%;
    display: block;
}

.front-page-article h2 {
    font-family: 'Roboto Slab', serif;
    color: #dd3232;
}

/* More Articles */
.more-articles {
    text-align: center;
    border-top: 1px solid #777;
}

.more-articles article {
    display: inline-block;
    width: 48%;
    padding: 1%;
    box-sizing: border-box;
}

.more-articles h3 {
    font-family: 'Roboto Slab', serif;
}
